button {
  font-size: 20px;
  padding: 20px 20px;
  background-color: green;
  color: white;
  width: 100px;
  margin : 10px 10px 10px 10px;
  border-radius: 10px;

}

.count {
  
  font-size: 50px;
  padding: 5px 10px;
 
}

.reset button{
  background-color: rgb(243, 0, 0);
  width: 100px;
}

body {
  padding: 15px 30px;
}